.content-group-wrapper {
  display: flex;
  margin-top: -1vh;
  flex-direction: column;
  position: fixed;
  top: 10vh;
}

.container {
  display: flex;
  flex-direction: column;

  :nth-child(n+1) {
    background-color: #6fcb9f;
    padding-left: 58vh;
  }
  :nth-child(n+2) {
    background-color: #ffcc5c;
    padding-left: 62vh;;
  }
  :nth-child(n+3) {
    background-color: #49a9a6;
    padding-left: 58vh;
  }

}

img {
  width: 60vh;
  position: absolute;
  border-radius: 50%;
  top: -19px;
}
