.content-box {
  padding-left: 62vh;
  display: block;
  color: black;
  font-family: "Calibre", -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding: .5em;
  font-weight: 500;
  font-size: 25px;
  letter-spacing: 1.5px;
  transition: max-height 0.3s ease-in-out, background-color 1s linear;
}

.content-box:hover {
  background-color: transparent !important;
}

.content {
  transition: max-height .75s;
  max-height: 0;
  overflow: hidden;
  background-color: inherit !important;
  font-weight: 350;
  font-size: .75em;
}

.content-box:hover > .content {
    max-height: 60vh;
}