
.content-group-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 10vh;
  max-width: 90%;
  padding-left: 18vh;
}

.container {
  display: flex;
  flex-direction: column;

  :nth-child(n+1) {
    // TODO: put in constants file
    background-color: #6fcb9f;
    padding-left: 40vh;
    .content {
      padding-left: 1vh;
    }
  }
  :nth-child(n+2) {
    background-color: #ffcc5c;
    padding-left: 40vh;
    .content {
      padding-left: 1vh;
    }
  }
  :nth-child(n+3) {
    background-color: #49a9a6;
    padding-left: 40vh;
    .content {
      padding-left: 1vh;
    }
  }

}

// extract to css for compoenent that wraps ContentGroup called TopContent (or something)
.profile-img {
  width: 57vmin;
  position: absolute;
  border-radius: 50%;
  top: -19px;
  left: 0px;
}